# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist
build
.expo
*.tgz

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
.vscode
*.swp
*.swo
.idea

# Turbo
.turbo

# Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/

# Testing
coverage
